a {
  text-decoration: none;
  display: inline-block;
}
.post_item {
  background: #ffffff;
  padding: 3rem 3rem;
  transition: all 0.3s;
  cursor: pointer;
  width: 517px;
  height: 166px;
}
.post_item:hover {
  background: #faeed0;
}

.post_data {
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #4c4c4c;
}
.post_data span {
  color: #592ea9;
}
.post_text {
  font-family: "Sen";
  font-weight: 700;
  font-size: 22px;
  color: #232536;
  padding: 0rem 0rem;
  width: 302px;
}
@media screen and (max-width: 1190px) {
  .post_item {
    width: 430px;
    height: 166px;
  }
}
@media screen and (max-width: 992px) {
  .feat_post_allblock {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 626px) {
  .post_item {
    width: 450px;
    height: 150px;
  }
}
@media screen and (max-width: 450px) {
  .post_item {
    width: 370px;
    height: 150px;
  }
}
@media screen and (max-width: 376px) {
  .post_item {
    width: 285px;
    /* height: 100px; */
    padding: 1.7rem 1rem;
  }
  .post_text {
    font-size: 18px;
    padding: 0rem 0rem;
    width: 195px;
  }
}
