<div class="blog_inner" *ngFor="let item of elements">
  <div class="container">
    <div class="blog_data">
      <div class="data_img_blog display_f">
        <div class="data_blog_img">
          <img src="assets/img/Profile.png" alt="" />
        </div>
        <div class="data_name_block">
          <h3 class="data_name">Andrew Jonson</h3>
          <p class="posted_data"><span>Post on 27th January 20022</span></p>
        </div>
      </div>
      <h3 class="data_blog_text">
        {{ item.text }}
      </h3>
      <div class="star_block display_f">
        <div class="star_blog_img">
          <img class="startup_img" src="assets/img/shuttle.png" alt="" />
        </div>
        <div class="star_title1">
          <a class="startup">Srartup</a>
        </div>
      </div>
    </div>
    <div class="blog_images">
      <img src="{{ item.img }}" alt="image" />
    </div>
    <div class="body_content">
      <h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
      </h4>
      <p>{{ item.textUs }}</p>
      <h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
      </h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Non blandit massa
        enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra
        adipiscing at in tellus. Sociis natoque penatibus et magnis dis
        parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque
        egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum
        quisque non.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Non blandit massa
        enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra
        adipiscing at in tellus. Sociis natoque penatibus et magnis dis
        parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque
        egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum
        quisque non.
      </p>
      <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Non blandit massa enim nec scelerisque</li>
        <li>Neque egestas congue quisque egestas</li>
      </ul>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Non blandit massa
        enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra
        adipiscing at in tellus. Sociis natoque penatibus et magnis dis
        parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque
        egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum
        quisque non.
      </p>
      <h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
      </h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Non blandit massa
        enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra
        adipiscing at in tellus. Sociis natoque penatibus et magnis dis
        parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque
        egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum
        quisque non.
      </p>
    </div>
  </div>
</div>
