<app-menu></app-menu>

<!-- Blog Inner header (Blog post) -->

    <div class="blog_cards_df">
      <app-descriptpost [elements]="blogPost"></app-descriptpost>
    </div>
<!-- other posts (blog ppost) -->

<div class="read_next">
  <div class="container">
    <h2>What to read next</h2>
    <div class="next_block">
      <div class="next">
        <img src="assets/img/next1.png" alt="" />
        <p>By <span> John Doe </span> l Aug 23, 2021</p>
        <h4>A UX Case Study Creating a Studious Environment for Students:</h4>
        <p class="next_text">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident.
        </p>
      </div>

      <div class="next">
        <img src="assets/img/next2.png" alt="" />
        <p>By <span> John Doe </span> l Aug 23, 2021</p>
        <h4>A UX Case Study Creating a Studious Environment for Students:</h4>
        <p class="next_text">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident.
        </p>
      </div>

      <div class="next">
        <img src="assets/img/next3.jpg" alt="" />
        <p>By <span> John Doe </span> l Aug 23, 2021</p>
        <h4>A UX Case Study Creating a Studious Environment for Students:</h4>
        <p class="next_text">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident.
        </p>
      </div>
    </div>
    <hr />
  </div>
</div>

<!-- /* Join our team - - - block10 */ -->

<div class="join_our_team">
  <div class="container">
    <app-join-now [element]="joinNew"></app-join-now>
  </div>
</div>

<!-- <footer> -->

<app-footer></app-footer>
