<!-- about us  -->
<app-menu></app-menu>

 <!-- about us header (about us) -->

 <div class="about_us_header">
  <div class="container">
    <div class="us_header">
      <div class="us_header_own">
        <h5>ABOUT US</h5>
        <p>We are a team of content writers who share their learnings</p>
      </div>

      <div class="us_header_text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- overview (about us) -->

<div class="overview">
  <div class="container">
    <div class="over_img">
      <!-- <div class="over_back">

      <div class="over_text">
        <b>12+</b>
        <p>Blogs Published</p>
      </div>

      <div class="over_text">
        <b>18K+</b>
        <p>Views on Finsweet</p>
      </div>

      <div class="over_text">
        <b>30K+</b>
        <p>Total active Users</p>
      </div>
    </div> -->

      <!-- <div class="over_bg">
      <span></span>
      <span></span>
    </div>				 -->
    </div>
  </div>
</div>

<!-- mision_vision (about us) -->

<div class="mision_vision">
  <div class="container">
    <div class="our_vis_mision">
      <div class="mision">
        <h4>OUR MISION</h4>
        <p class="mision_taitle">
          Creating valuable content for creatives all around the world
        </p>
        <p class="mision_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Non
          blandit massa enim nec. Scelerisque viverra mauris in aliquam sem.
          At risus viverra adipiscing at in tellus.
        </p>
      </div>

      <div class="mision">
        <h4>Our Vision</h4>
        <p class="mision_taitle">
          A platform that empowers individuals to improve
        </p>
        <p class="mision_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Non
          blandit massa enim nec. Scelerisque viverra mauris in aliquam sem.
          At risus viverra adipiscing at in tellus.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- know more  about our team one(about us) -->

<div class="more_about">
  <div class="container">
    <div class="team_creatives">
      <div class="creatives">
        <h3>Our team of creatives</h3>
        <p class="creatives_title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt.
        </p>
        <p class="creatives_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat.
        </p>
        <img src="" alt="" />
      </div>

      <div class="creatives_img">
        <img src="assets/img/more image1.png" alt="" />
      </div>
    </div>
  </div>
</div>

<!-- know more  about our team two(about us) -->

<div class="more_about">
  <div class="container">
    <div class="team_creatives">
      <div class="creatives_img">
        <img src="assets/img/more image.png" alt="" />
      </div>

      <div class="creatives">
        <h3>Why we started this Blog</h3>
        <p class="creatives_title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt.
        </p>
        <p class="creatives_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat.
        </p>
        <img src="" alt="" />
      </div>
    </div>
  </div>
</div>

<!-- list of strated (about us) -->

<div class="list_authors">
  <div class="container">
      <div class="list_autors">
          <h2 class="auto_title">List of Authors</h2>
          <app-list-of-authors [element]="listAuthors"></app-list-of-authors>
      </div>
  </div>
</div>

<!-- /* Join our team - - - block10 */ -->

<div class="join_our_team">
  <div class="container">
    <app-join-now [element]="joinNew"></app-join-now>
  </div>
</div>

<!-- about us footer -->

<app-footer></app-footer>


