<header>
  <div class="container">
    <div class="navbar">
      <div class="logo">
        <a href="#"><img src="assets/img/Logo.png" alt="Logo" /></a>
      </div>
      <input type="checkbox"  id="check_menu">
      <label class="click_menu" for="check_menu">
        <div class="burger_line first"></div>
        <div class="burger_line second"></div>
        <div class="burger_line third"></div>
        <div class="burger_line fourth"></div>
      </label>
      <div class="link_list">
        <ul>
          <li>
            <a routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li>
            <a routerLink="/blog" routerLinkActive="active">Blog</a>
          </li>
          <li>
            <a routerLink="/about-us" routerLinkActive="active">About Us</a>
          </li>
          <li>
            <a routerLink="/contact-us" routerLinkActive="active">Contact us</a>
          </li>
        </ul>
        <button type="submit" class="button_link">Subscribe</button>
      </div>
    </div>
  </div>
</header>
